﻿@using Microsoft.Extensions.Options;
@inject IOptions<Settings> settings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Machine Learning</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Machine Learning</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Machine Learning
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>
    
    <script>
        var baseUrl = '@Url.Content("~/")'
        var defaultExperimentTime = @settings.Value.DefaultExperimentTime
        var defaultHistoryLength = @settings.Value.DefaultHistoryLength
    </script>

    <form id="csrf-protection-form">
        @Html.AntiForgeryToken()
    </form>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>
    <script src="~/js/csrf-protection.js" asp-append-version="true"></script>
    <script src="~/js/machine-learning.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
