﻿@{
    ViewData["Title"] = "Examples";
}

<div id="app" style="display: none;">

    <div class="card">
        <div class="card-header">
            Machine Learning Examples
        </div>
        <div class="card-body">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{ machineLearningName }}
                </button>
                <div class="dropdown-menu">
                    <algorithm-selection 
                        v-for="algorithm in algorithms" 
                        v-bind:algorithm="algorithm"
                        v-bind:key="algorithm.code"
                        v-on:select-algorithm="selectAlgorithm">
                    </algorithm-selection>
                </div>
            </div>

            <div class="card" v-show="parameters.machineLearningType != null">
                <div class="card-header">
                   {{ machineLearningName }} - Algorithm Inputs
                </div>
                <div class="card-body">
                    <div v-show="sampleInputs != null">
                        <h5 class="card-title" id="sampleInputPanel">Sample Input</h5>
                        <ol>
                            <li v-for="sampleInput in sampleInputs">
                                <a href="#" @@click.prevent="loadSampleInput(sampleInput)">{{ sampleInput.name }}</a>
                            </li>
                        </ol>
                        <hr />
                    </div>

                    <div>
                        <h5 class="card-title">Training Input</h5>
                        <div v-if="parameters.machineLearningType == 'Apriori'">
                            Format: 
                            <span class="badge badge-dark">Comma-delimited values</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'C45'">
                            Format: 
                            <span class="badge badge-primary">Header row</span>
                            <br />
                            <span class="badge badge-dark">Comma-delimited values</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Result value</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'NaiveBayes'">
                            Format: 
                            <span class="badge badge-primary">Header row</span>
                            <br />
                            <span class="badge badge-dark">Comma-delimited values</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Result value</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'Regression'">
                            Format: 
                            <span class="badge badge-dark">Time series value</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Numerical value</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'AnomalyDetection'">
                            Format: 
                            <span class="badge badge-primary">Header row</span>
                            <br />
                            <span class="badge badge-dark">Time series value</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Numerical value</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'AutoMLBinaryClassification'">
                            Format: 
                            <span class="badge badge-primary">Header row</span>
                            <br />
                            <span class="badge badge-dark">Sentiment (1: Negative; 0: Positive)</span>
                            <span class="badge badge-info">Tab</span>
                            <span class="badge badge-dark">Text</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'AutoMLMulticlassClassification'">
                            Format: 
                            <span class="badge badge-dark">Up to 64 comma-delimited values</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Classification label</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'AutoMLRegression'">
                            Format: 
                            <span class="badge badge-primary">Header row</span>
                            <br />
                            <span class="badge badge-dark">Id [String]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Code [String]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Value 1 [Numerical]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Value 2 [Numerical]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Value 3 [Numerical]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Type [String]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Amount [Numerical]</span>
                        </div>
                        <textarea class="form-control" v-model="parameters.trainingInput" rows="7" v-bind:disabled="isProcessing"></textarea>
                        <hr />
                    </div>                    

                    <div v-show="showTestingInput">
                        <h5 class="card-title">Testing Input</h5>
                        <div v-if="parameters.machineLearningType == 'AutoMLBinaryClassification'">
                            Format: 
                            <span class="badge badge-primary">Header row</span>
                            <br />
                            <span class="badge badge-dark">Sentiment (1: Negative; 0: Positive)</span>
                            <span class="badge badge-info">Tab</span>
                            <span class="badge badge-dark">Text</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'AutoMLMulticlassClassification'">
                            Format: 
                            <span class="badge badge-dark">Up to 64 comma-delimited values</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Classification label</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'AutoMLRegression'">
                            Format: 
                            <span class="badge badge-primary">Header row</span>
                            <br />
                            <span class="badge badge-dark">Id [String]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Code [String]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Value 1 [Numerical]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Value 2 [Numerical]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Value 3 [Numerical]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Type [String]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Amount [Numerical]</span>
                        </div>
                        <textarea class="form-control" v-model="parameters.testingInput" rows="7" v-bind:disabled="isProcessing"></textarea>
                        <hr />
                    </div> 

                    <div v-show="showValueInput">
                        <h5 class="card-title">Sample Value Input</h5>
                        <div v-if="parameters.machineLearningType == 'NaiveBayes'">
                            Format: 
                            <span class="badge badge-dark">Comma-delimited values</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'Regression'">
                            Format: 
                            <span class="badge badge-dark">Single numerical value</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'AutoMLBinaryClassification'">
                            Format: 
                            <span class="badge badge-dark">Text</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'AutoMLMulticlassClassification'">
                            Format: 
                            <span class="badge badge-dark">Up to 64 comma-delimited values</span>
                        </div>
                        <div v-if="parameters.machineLearningType == 'AutoMLRegression'">
                            Format: 
                            <span class="badge badge-dark">Id [String]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Code [String]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Value 1 [Numerical]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Value 2 [Numerical]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Value 3 [Numerical]</span>
                            <span class="badge badge-info">Comma</span>
                            <span class="badge badge-dark">Type [String]</span>
                        </div>
                        <input type="text" class="form-control" v-model="parameters.valueInput" v-bind:disabled="isProcessing"></input>
                        <hr />
                    </div>                 

                    <div v-show="showUseExistingModel">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" v-model="parameters.useExistingModel" v-bind:disabled="isProcessing" id="useExistingModel">
                            <label class="form-check-label" for="useExistingModel">
                                Use existing model (if available)
                            </label>
                        </div>  
                        <hr />
                    </div>

                    <div v-show="showExperimentTime">
                        <h5 class="card-title">Experiment Time (in seconds)</h5>
                        <div>
                            Format: 
                            <span class="badge badge-dark">Numerical value</span>
                        </div>
                        <input type="number" min="1" max="999" class="form-control" v-model="parameters.experimentTime" v-bind:disabled="isProcessing"></input>
                        <hr />
                    </div>

                    <div v-show="showHistoryLength">
                        <h5 class="card-title">History Length</h5>
                        <div>
                            Format: 
                            <span class="badge badge-dark">Numerical value</span>
                        </div>
                        <input type="number" min="1" max="999" class="form-control" v-model="parameters.historyLength" v-bind:disabled="isProcessing"></input>
                        <hr />
                    </div>

                    <div v-show="parameters.machineLearningType != null">
                        <button v-show="!isProcessing" type="button" class="btn btn-success" @@click="process()">Process</button>
                        <button v-show="isProcessing" class="btn btn-success" type="button" disabled="disabled">
                            <span class="spinner-border spinner-border-sm"></span>
                            Processing...
                        </button>
                    </div>
                </div>
            </div>            

            <div v-show="resultReady">
                <hr />
                <div class="card">
                    <div class="card-header text-white bg-primary">
                    Results
                    </div>
                    <div class="card-body">             

                        <div v-if="parameters.machineLearningType == 'Apriori'">
                            <div v-if="resultReady && result.aprioriResults && result.aprioriResults.length">
                                <h5 class="card-title">Apriori Selection</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Value 1</th>
                                            <th scope="col">Value 2</th>
                                            <th scope="col">Support</th>
                                            <th scope="col">Confidence</th>                                        
                                        </tr>                                        
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select v-model="selectedAprioriValue" class="form-control">
                                                    <option disabled value="">Please select one</option>
                                                    <option v-for="result in uniqueAprioriResults">
                                                        {{ result }}
                                                    </option>
                                                </select>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>                                            
                                        </tr>
                                        <tr v-for="result in aprioriSelectedResults">
                                            <td></td>
                                            <td>{{ result.value2 }}</td>
                                            <td>{{ result.support.toFixed(2) }}</td>
                                            <td>{{ result.confidence.toFixed(2) }}</td>                                            
                                        </tr>
                                    </tbody>
                                </table>

                                <h5 class="card-title">Apriori Associations</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Value 1</th>
                                            <th scope="col">Value 2</th>
                                            <th scope="col">Support</th>
                                            <th scope="col">Confidence</th>                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="result in result.aprioriResults">
                                            <td>{{ result.value1 }}</td>
                                            <td>{{ result.value2 }}</td>
                                            <td>{{ result.support.toFixed(2) }}</td>
                                            <td>{{ result.confidence.toFixed(2) }}</td>                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-else>
                                No results generated.  Please provide valid training input values.
                                <hr />
                                <button type="button" class="btn btn-info" @@click="scrollToSampleInput()">Try a sample input dataset to get started</button>
                            </div>
                        </div>

                        <div v-if="parameters.machineLearningType == 'C45'">
                            <div v-if="resultReady && result.c45Result && result.c45Result.rules && result.c45Result.rules.length">
                                <h5 class="card-title">C4.5 Rules (Error: {{ result.c45Result.error.toFixed(2) }})</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Rule</th>                                      
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="rule in result.c45Result.rules">
                                            <td>{{ rule }}</td>                                          
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-else>
                                No results generated.  Please provide valid training input values.
                                <hr />
                                <button type="button" class="btn btn-info" @@click="scrollToSampleInput()">Try a sample input dataset to get started</button>
                            </div>
                        </div>

                        <div v-if="parameters.machineLearningType == 'NaiveBayes'">
                            <div v-if="resultReady && result.naiveBayesResult ">
                                <h5 class="card-title">Naive Bayes Result</h5>
                                <div v-if="parameters.valueInput && result.naiveBayesResult.result">
                                    <table class="table table-bordered table-striped table-hover table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sample Value Input</th>
                                                <th scope="col">
                                                    Result (Probabilities: 
                                                    <span v-for="probability in result.naiveBayesResult.probabilities">
                                                        {{ probability.toFixed(2) }}
                                                    </span>)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ parameters.valueInput }}</td>                                          
                                                <td>{{ result.naiveBayesResult.result }}</td>                                          
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div v-else>                                    
                                    No result generated.  Please provide a valid sample value input.
                                </div>
                            </div>
                            <div v-else>
                                No results generated.  Please provide valid training input values.
                                <hr />
                                <button type="button" class="btn btn-info" @@click="scrollToSampleInput()">Try a sample input dataset to get started</button>
                            </div>
                        </div>

                        <div v-if="parameters.machineLearningType == 'Regression'">
                            <div v-if="resultReady && result.regressionResult">
                                <h5 class="card-title">Linear &amp; Polynomial Results</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Type</th>
                                            <th scope="col">Equation</th>
                                            <th scope="col">Result</th>
                                            <th scope="col">Sample Value Input</th>
                                            <th scope="col">Output</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Linear</td>
                                            <td>y(x) = mx + b</td>
                                            <td>y(x) = {{ result.regressionResult.linearSlope.toFixed(2) }}x + {{ result.regressionResult.linearIntercept.toFixed(2) }}</td>
                                            <td>{{ parameters.valueInput }}</td>
                                            <td>{{ parameters.valueInput ? result.regressionValueOutput.linearResult.toFixed(2) : 'No result generated.  Please provide a valid sample value input.' }}</td>
                                        </tr>
                                        <tr>
                                            <td>Polynomial</td>
                                            <td>y(x) = ax^2 + bx^1 + c</td>
                                            <td>{{ result.regressionResult.polynomialExpression }}</td>
                                            <td>{{ parameters.valueInput }}</td>
                                            <td>{{ parameters.valueInput ? result.regressionValueOutput.polynomialResult.toFixed(2) : 'No result generated.  Please provide a valid sample value input.' }}</td>
                                        </tr>
                                    </tbody>
                                </table>                      
                            </div>   
                            <div v-else>
                                No results generated.  Please provide valid training input values.
                                <hr />
                                <button type="button" class="btn btn-info" @@click="scrollToSampleInput()">Try a sample input dataset to get started</button>
                            </div>                         
                        </div>

                        <div v-if="parameters.machineLearningType == 'AnomalyDetection'">
                            <div v-if="resultReady && result.anomalyDetectionResults && result.anomalyDetectionResults.length">
                                <h5 class="card-title">Anomaly Detection Data</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Time Series Value</th>
                                            <th scope="col">Actual</th>
                                            <th scope="col">Spike Alert</th>
                                            <th scope="col">Prediction</th>
                                            <th scope="col">P-Value</th>
                                            <th scope="col">Change Point Alert</th>
                                            <th scope="col">Prediction</th>
                                            <th scope="col">P-Value</th>
                                            <th scope="col">Martingale Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="result in result.anomalyDetectionResults">
                                            <td>{{ result.timeSeriesValue }}</td>
                                            <td>{{ result.actual.toFixed(2) }}</td>
                                            <td>{{ result.spikeAlert == 1 ? 'Y' : 'N' }}</td>
                                            <td>{{ result.spikePrediction.toFixed(2) }}</td>
                                            <td>{{ result.spikePValue.toFixed(2) }}</td>
                                            <td>{{ result.changePointAlert == 1 ? 'Y' : 'N' }}</td>
                                            <td>{{ result.changePointPrediction.toFixed(2) }}</td>
                                            <td>{{ result.changePointPValue.toFixed(2) }}</td>
                                            <td>{{ result.changePointMartingaleValue.toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-else>
                                No results generated.  Please provide valid training input values.
                                <hr />
                                <button type="button" class="btn btn-info" @@click="scrollToSampleInput()">Try a sample input dataset to get started</button>
                            </div>
                        </div>

                        <div v-if="parameters.machineLearningType == 'AutoMLBinaryClassification'">
                            <div v-if="resultReady && result.autoMLRuns && result.autoMLRuns.length && !parameters.useExistingModel">
                                <h5 class="card-title">AutoML Runs</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Trainer Name</th>
                                            <th scope="col">Accuracy</th>
                                            <th scope="col">Area Under Roc Curve</th>
                                            <th scope="col">Area Under Precision Recall Curve</th>
                                            <th scope="col">F1 Score</th>
                                            <th scope="col">Runtime (in seconds)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="run in result.autoMLRuns">
                                            <th scope="row">{{ run.runNumber }}</th>
                                            <td>{{ run.trainerName }}</td>
                                            <td>{{ run.validationMetrics.accuracy.toFixed(2) }}</td>
                                            <td>{{ run.validationMetrics.areaUnderRocCurve.toFixed(2) }}</td>
                                            <td>{{ run.validationMetrics.areaUnderPrecisionRecallCurve.toFixed(2) }}</td>
                                            <td>{{ run.validationMetrics.f1Score.toFixed(2) }}</td>
                                            <td>{{ run.runtimeInSeconds.toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div v-if="resultReady && result.bestAutoMLRun && result.bestAutoMLRun.trainerName && !parameters.useExistingModel">
                                <h5 class="card-title">Best Run</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Trainer Name</th>
                                            <td>{{ result.bestAutoMLRun.trainerName }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Accuracy</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.accuracy.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Area Under Roc Curve</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.areaUnderRocCurve.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Area Under Precision Recall Curve</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.areaUnderPrecisionRecallCurve.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">F1Score</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.f1Score.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Positive Precision</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.positivePrecision.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Positive Recall</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.positiveRecall.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Negative Precision</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.negativePrecision.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Negative Recall</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.negativeRecall.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Runtime (in seconds)</th>
                                            <td>{{ result.bestAutoMLRun.runtimeInSeconds.toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div v-if="resultReady && result.autoMLBinaryValueOutput">
                                <h5 class="card-title">AutoML Sample Value Input Result</h5>
                                <div v-if="parameters.valueInput">
                                    <table class="table table-bordered table-striped table-hover table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sample Value Input</th>
                                                <th scope="col">Result</th>
                                                <th scope="col">Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ parameters.valueInput }}</td>
                                                <td>{{ result.autoMLBinaryValueOutput.result == false ? 'Positive' : 'Negative'  }}</td>
                                                <td>{{ result.autoMLBinaryValueOutput.score.toFixed(2) }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div v-else>                                    
                                    No result generated.  Please provide a valid sample value input.
                                </div>
                            </div>

                            <div v-if="!(resultReady && result.autoMLRuns && result.autoMLRuns.length && !parameters.useExistingModel)
                                && !(result.bestAutoMLRun && result.bestAutoMLRun.trainerName && !parameters.useExistingModel)
                                && !(resultReady && result.autoMLBinaryValueOutput)">
                                No results generated.  Please provide valid training &amp; testing input values.
                                <hr />
                                <button type="button" class="btn btn-info" @@click="scrollToSampleInput()">Try a sample input dataset to get started</button>
                            </div>
                        </div>

                        <div v-if="parameters.machineLearningType == 'AutoMLMulticlassClassification'">
                            <div v-if="resultReady && result.autoMLRuns && result.autoMLRuns.length && !parameters.useExistingModel">
                                <h5 class="card-title">AutoML Runs</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Trainer Name</th>
                                            <th scope="col">Micro Accuracy</th>
                                            <th scope="col">Macro Accuracy</th>
                                            <th scope="col">Runtime (in seconds)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="run in result.autoMLRuns">
                                            <th scope="row">{{ run.runNumber }}</th>
                                            <td>{{ run.trainerName }}</td>
                                            <td>{{ run.validationMetrics.microAccuracy.toFixed(2) }}</td>
                                            <td>{{ run.validationMetrics.macroAccuracy.toFixed(2) }}</td>
                                            <td>{{ run.runtimeInSeconds.toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div v-if="resultReady && result.bestAutoMLRun && result.bestAutoMLRun.trainerName && !parameters.useExistingModel">
                                <h5 class="card-title">Best Run</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Trainer Name</th>
                                            <td>{{ result.bestAutoMLRun.trainerName }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Micro Accuracy</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.microAccuracy.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Macro Accuracy</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.macroAccuracy.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Log Loss</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.logLoss.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Per Class Log Loss 1</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.perClassLogLoss1.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Per Class Log Loss 2</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.perClassLogLoss2.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Per Class Log Loss 3</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.perClassLogLoss3.toFixed(2) }}</td>
                                        </tr>                                        
                                        <tr>
                                            <th scope="row">Runtime (in seconds)</th>
                                            <td>{{ result.bestAutoMLRun.runtimeInSeconds.toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div v-if="resultReady && result.autoMLMulticlassClassificationValueOutput">
                                <h5 class="card-title">AutoML Sample Value Input Result</h5>
                                <div v-if="result.autoMLMulticlassClassificationValueOutput.multiclassClassificationScores && parameters.valueInput">
                                    <table class="table table-bordered table-striped table-hover table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Label</th>
                                                <th scope="col">Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in result.autoMLMulticlassClassificationValueOutput.multiclassClassificationScores">
                                                <td>{{ item.value }}</td>
                                                <td>{{ item.score.toFixed(2) }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div v-else>                                    
                                    No result generated.  Please provide a valid sample value input.
                                </div>
                            </div>

                            <div v-if="!(resultReady && result.autoMLRuns && result.autoMLRuns.length && !parameters.useExistingModel)
                                && !(resultReady && result.bestAutoMLRun && result.bestAutoMLRun.trainerName && !parameters.useExistingModel)
                                && !(resultReady && result.autoMLMulticlassClassificationValueOutput)">
                                No results generated.  Please provide valid training &amp; testing input values.
                                <hr />
                                <button type="button" class="btn btn-info" @@click="scrollToSampleInput()">Try a sample input dataset to get started</button>
                            </div>
                        </div>

                        <div v-if="parameters.machineLearningType == 'AutoMLRegression'">
                            <div v-if="resultReady && result.autoMLRuns && result.autoMLRuns.length && !parameters.useExistingModel">
                                <h5 class="card-title">AutoML Runs</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Trainer Name</th>
                                            <th scope="col">R Squared</th>
                                            <th scope="col">Mean Absolute Error</th>
                                            <th scope="col">Mean Squared Error</th>
                                            <th scope="col">Root Mean Squared Error</th>
                                            <th scope="col">Runtime (in seconds)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="run in result.autoMLRuns">
                                            <th scope="row">{{ run.runNumber }}</th>
                                            <td>{{ run.trainerName }}</td>
                                            <td>{{ run.validationMetrics.rSquared.toFixed(2) }}</td>
                                            <td>{{ run.validationMetrics.meanAbsoluteError.toFixed(2) }}</td>
                                            <td>{{ run.validationMetrics.meanSquaredError .toFixed(2) }}</td>
                                            <td>{{ run.validationMetrics.rootMeanSquaredError.toFixed(2) }}</td>
                                            <td>{{ run.runtimeInSeconds.toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div v-if="resultReady && result.bestAutoMLRun && result.bestAutoMLRun.trainerName && !parameters.useExistingModel">
                                <h5 class="card-title">Best Run</h5>
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Trainer Name</th>
                                            <td>{{ result.bestAutoMLRun.trainerName }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Loss Function</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.lossFunction.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">R Squared</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.rSquared.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Mean Absolute Error</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.meanAbsoluteError.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Mean Squared Error</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.meanSquaredError.toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Root Mean Squared Error</th>
                                            <td>{{ result.bestAutoMLRun.validationMetrics.rootMeanSquaredError.toFixed(2) }}</td>
                                        </tr>                                       
                                        <tr>
                                            <th scope="row">Runtime (in seconds)</th>
                                            <td>{{ result.bestAutoMLRun.runtimeInSeconds.toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div v-if="resultReady && result.autoMLRegressionValueOutput">
                                <h5 class="card-title">AutoML Sample Value Input Result</h5>
                                <div v-if="parameters.valueInput">                                    
                                    <table class="table table-bordered table-striped table-hover table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Result</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>                                           
                                                <td>{{ result.autoMLRegressionValueOutput.amount.toFixed(2) }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div v-else>                                    
                                    No result generated.  Please provide a valid sample value input.
                                </div>
                            </div>

                            <div v-if="!(resultReady && result.autoMLRuns && result.autoMLRuns.length && !parameters.useExistingModel)
                                && !(resultReady && result.bestAutoMLRun && result.bestAutoMLRun.trainerName && !parameters.useExistingModel)
                                && !(resultReady && result.autoMLRegressionValueOutput)">
                                No results generated.  Please provide valid training &amp; testing input values.
                                <hr />
                                <button type="button" class="btn btn-info" @@click="scrollToSampleInput()">Try a sample input dataset to get started</button>
                            </div>
                        </div>

                        <canvas id="regressionChart" style="display: none;"></canvas>                        
                        <canvas id="anomalyDetectionChart" style="display: none;"></canvas>
                        <div id="anomalyDetectionChartLegend" style="display: none; font-size: smaller; text-align: center;">
                            <strong>Triangle:</strong> Spike |
                            <strong>Diamond:</strong> Change Point |
                            <strong>Star:</strong> Spike &amp; Change Point
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <br />
    <div>
        <a href="@Url.Content("~/Home/GetProjectSourceZipBase64")" target="_blank">Get Project Source Zip (Base64 Encoded)</a>
    </div>    
</div>
